  <launch>
	<arg name="namespace" default="/rtabmap" />
	<!-- <arg name="tf_prefix" default="Husky/" /> --> 

	<arg name="rgb_topic"               default="/realsense/color/image_raw" />
	<arg name="depth_registered_topic"  default="/realsense/depth/image_rect_raw" />
	<arg name="camera_info_topic"       default="/realsense/color/camera_info" />

	<arg name="rgbd_odom_topic"         default="/rgbd_odom"/>
	<arg name="odom_topic"              default="/odometry/filtered"/>


	<arg name="map_frame_id"            default="map"/> 
	<arg name="odom_frame_id"           default="odom"/> 
	<arg name="frame_id"                default="base_link"/> 

	<arg name="subscribe_scan"          default="false"/>
	<arg name="scan_topic"              default="scan"/>
	
	<arg name="rviz"                    default="true"/>
	<arg name="rviz_cfg"                default="$(find husky_viz)/rviz/model.rviz" /> <!-- -->
	
	<arg name="output"                  default="screen"/> 
	
	<arg name="rgbd_sync"               default="false"/>         <!-- pre-sync rgb_topic, depth_topic, camera_info_topic -->
	<arg name="approx_rgbd_sync"        default="true"/>          <!-- false=exact synchronization -->
	<arg name="subscribe_rgbd"          default="$(arg rgbd_sync)"/>
	<arg name="rgbd_topic"              default="rgbd_image" />
	<arg name="depth_scale"             default="1.0" />         <!-- Deprecated, use rgbd_depth_scale instead -->
	<arg name="rgbd_depth_scale"        default="$(arg depth_scale)" />
	<arg name="rgbd_decimation"         default="1" />
	
	
	<arg name="compressed"              default="false"/> 
	<arg if="$(arg compressed)"     name="rgb_topic_relay"           default="$(arg rgb_topic)_relay"/>
	<arg unless="$(arg compressed)" name="rgb_topic_relay"           default="$(arg rgb_topic)"/>
	<arg if="$(arg compressed)"     name="depth_topic_relay"         default="$(arg depth_registered_topic)_relay"/>
	<arg unless="$(arg compressed)" name="depth_topic_relay"         default="$(arg depth_registered_topic)"/>
	<arg if="$(arg rgbd_sync)"      name="rgbd_topic_relay"          default="$(arg rgbd_topic)"/>
	<arg unless="$(arg rgbd_sync)"  name="rgbd_topic_relay"          default="$(arg rgbd_topic)_relay"/>
	
	
	<arg name="database_path"           default=""/>
	
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
    
      <remap from="rgb/image"       to="$(arg rgb_topic)"/>
      <remap from="depth/image"     to="$(arg depth_registered_topic)"/>
      <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
      <remap from="rgbd_image"      to="$(arg namespace)/rgbd_image"/> <!-- output -->
      
      <!-- Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="true"/> 
    </node>

    <node name="rtabmap_odom" pkg="rtabmap_odom" type="rgbd_odometry" output="screen" args="--delete_db_on_start">
    	<remap unless="$(arg subscribe_rgbd)" from="rgb/image"         to="$(arg rgb_topic_relay)"/>
	<remap unless="$(arg subscribe_rgbd)" from="depth/image"       to="$(arg depth_topic_relay)"/>
	<remap unless="$(arg subscribe_rgbd)" from="rgb/camera_info"   to="$(arg camera_info_topic)"/>
    	<remap from="rgbd_image"      to="$(arg namespace)/rgbd_image"/>
    	
    	<remap from="odom"      to="$(arg rgbd_odom_topic)"/>
    	
    	<param name="odom_frame_id" type="string" value="$(arg odom_frame_id)"/>
    	<param name="publish_tf" type="bool" value="true"/>
    	
    	
    </node>

    <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="$(arg frame_id)"/>
          <param name="odom_frame_id" type="string" value="$(arg odom_frame_id)"/>
          <param name="map_frame_id" type="string" value="$(arg map_frame_id)"/>

          <param name="subscribe_depth" type="bool" value="false"/>
          <param name="subscribe_rgbd" type="bool" value="true"/>
          <param name="subscribe_scan" type="bool" value="$(arg subscribe_scan)"/>

          <remap from="odom" to="$(arg rgbd_odom_topic)"/> <!-- $(arg odom_topic) -->
          <remap from="scan" to="$(arg scan_topic)"/>
          <remap from="rgbd_image" to="$(arg namespace)/rgbd_image"/>

          <param name="queue_size" type="int" value="10"/>

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
          <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
          <param name="RGBD/AngularUpdate"        type="string" value="0.0"/>
          <param name="RGBD/LinearUpdate"         type="string" value="0.0"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
          <param name="Grid/FromDepth"            type="string" value="true"/> <!-- occupancy grid from lidar -->
          <param name="Reg/Force3DoF"             type="string" value="true"/>
          <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
          
          <!-- ICP parameters -->
          <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
          <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
          
          <param name="database_path"           value=""/> <!-- $(arg database_path) -->
          
          
	  <param name="Rtabmap/DetectionRate"   value="1"/>
	   
	  <param name="map_always_update"           value="true"/>
	  <param name="cloud_frustum_culling"           value="true"/>
	  
	  <param name="Grid/RayTracing"           value="true"/>
	  <param name="Grid/3D"           	value="true"/>
	   
	  <param name="GridGlobal/OccupancyThr"           value="0.5"/>
	  <param name="GridGlobal/ProbClampingMax"        value="0.971"/>
	  <param name="GridGlobal/ProbClampingMin"        value="0.1192"/>
	  <param name="GridGlobal/ProbHit"                value="0.9"/>
	  <param name="GridGlobal/ProbMiss"               value="0.1"/>
	  <param name="GridGlobal/FullUpdate"           type="bool"       value="true"/>
	   
    </node>
    
    <!-- Visual Odometry -->
	<node name="rtabmap_odom" pkg="rtabmap_odom" type="rgbd_odometry" output="screen" args="--delete_db_on_start">
    	<remap unless="$(arg subscribe_rgbd)" from="rgb/image"         to="$(arg rgb_topic_relay)"/>
		<remap unless="$(arg subscribe_rgbd)" from="depth/image"       to="$(arg depth_topic_relay)"/>
		<remap unless="$(arg subscribe_rgbd)" from="rgb/camera_info"   to="$(arg camera_info_topic)"/>
    	<remap from="rgbd_image"      to="$(arg namespace)/rgbd_image"/>
    	
    	<remap from="odom"      to="$(arg rgbd_odom_topic)"/>
    	
    	<param name="odom_frame_id" type="string" value="$(arg odom_frame_id)"/>
    	<param name="publish_tf" type="bool" value="true"/>
    	
      </node>
      <!-- Visualization RVIZ -->
      <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>
      <node if="$(arg rviz)" pkg="nodelet" type="nodelet" name="points_xyzrgb" args="standalone rtabmap_util/point_cloud_xyzrgb" output="$(arg output)">

	<remap unless="$(arg subscribe_rgbd)" from="rgb/image"         to="$(arg rgb_topic_relay)"/>
	<remap unless="$(arg subscribe_rgbd)" from="depth/image"       to="$(arg depth_topic_relay)"/>
	<remap unless="$(arg subscribe_rgbd)" from="rgb/camera_info"   to="$(arg camera_info_topic)"/>
	<remap from="rgbd_image"        to="$(arg rgbd_topic_relay)"/>
	<remap from="cloud"             to="voxel_cloud" />

	<param name="decimation"  type="double" value="4"/>
	<param name="voxel_size"  type="double" value="0.0"/>
	<param name="approx_sync" type="bool"   value="true"/>
      </node>
</launch>
